/*general site styles*/
html {
	font-size: 12px;
	font-family: "Helvetica Neue", Helvetica, Serif;
}

body {
	box-sizing: border-box;
	background-color: white;
	margin: 0;
	position: relative;
	color: rgba(0, 0, 0, 0.87);
}

p {
	-webkit-margin-before: 0rem;
    -webkit-margin-after: 0rem;
    -webkit-margin-start: 0rem;
    -webkit-margin-end: 0rem;
}

h2 {
display: block;
-webkit-margin-before: 0px;
-webkit-margin-after: 0px;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
font-weight: regular;
}

.visualTitle {
	margin-top: 4rem;
	margin-right: 14rem;
	font-size: 1rem;
	font-variant: small-caps;
	font-weight: bold;
	margin-bottom: 1rem;
	border-top: 1px black solid;
}

.visualDescription {
	font-size: 1.25rem;
	font-weight: 300;
	margin-right: 14rem;
	margin-bottom: 2rem;
}

.visual {
	box-shadow: 0px 2px 0px 1px rgba(0, 0, 0, 0.04);
	margin-bottom: 8rem;
}

button {
	-webkit-appearance: none;
}

button:active {
	border: none;
}

button:focus {
	border: none;
    outline: -webkit-focus-ring-color auto 0px;
}


/*basic stlyes for the vending machine on the home page that serves as nav */

/*img {
	max-width: 200px;
	margin: 2rem;
}*/

#home {
	background-color: #ddd;
	position: relative;
}

#floor {
		margin-top: 25rem;
    border-bottom: 31rem solid black;
    border-left: 30rem solid transparent;
    border-right: 30rem solid transparent;
    opacity: .34;
}

#resume {
		position: fixed;
		top: 2rem;
		right: 2rem;
		height: 11rem;
		width: 8.5rem;
		background-color: white;
		box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.02);
}

.bio {
	position: fixed;
	top: 2rem;
	left: 2rem;
	font-size: .75rem;
	line-height: 1.25rem;
	color: rgba(0, 0, 0, 0.87);
	width: 28%;
}

#sun {
	position: fixed;
	top: 2rem;
	left: 2rem;
	height: 16rem;
	width: 16rem;
	background-color: yellow;
	border-radius: 16rem;

}

.brainJump {
	margin: 5rem;
}

.brains {
	width: 100%;
}

#machine {
	z-index: 2;
	width: 20rem;
	height: 36rem;
	background-color: #1a1a1a;
	position: fixed;
	/* vertical-align: middle; */
	margin-left: 2rem;
	border-right: .5rem solid rgba(0,0,0,.18);
	border-bottom: .25rem solid rgba(0,0,0,.36);
	/* border-top: .5rem solid rgba(0,0,0,.18); */
	box-shadow: 10px 10px 80px 10px rgba(0, 0, 0, 0.6);
}

.brand {
	color: white;
	padding: 2rem;
    font-size: 1.25rem;
    display: block;
    -webkit-margin-before: 0rem;
    -webkit-margin-after: 0rem;
    -webkit-margin-start: 0rem;
    -webkit-margin-end: 0rem;
}

.subtitle {
	position: fixed;
	bottom: 2rem;
	left: 2rem;

	background-color: black;
	padding: 2rem;
	color: white;
	font-size: 1.25rem;

	display: none;
}

.resumeContainer{
	background-color: #eee;
}

.resume {
	position: relative;
	display: block;
  margin: auto;
	padding: 14rem 0;
  width: 64%;
}

/*first button on the machine*/
.drank  {
	position: absolute;
	padding: .25rem;
	margin-bottom: 4rem;
	width: 4rem;
	text-align: center;
	text-decoration: none;
	font-variant: small-caps;
	color: rgba(0, 0, 0, 0.75);
	font-size: 1rem;
}

.userWork {
	bottom: 20rem;
	right: 3rem;
	background-color: yellow;
}

/*second button on the machine*/
.photoWork {
	bottom: 17.5rem;
	right: 3rem;

	background-color: orange;
}

/*third button on the machine*/
.brainWork {
	bottom: 15rem;
	right: 3rem;
	color: white;

	background-color: purple;
}

/*fourth button on the machine*/
.worker {
	bottom: 12.5rem;
	right: 3rem;

	background-color: red;
}

/*fif button on the machine*/
.credits {
	bottom: 10rem;
	right: 3rem;
	color: white;

	background-color: green;
}


																	/*end of index styles*/









/*reusuable mini nav for all content pages*/

.shot {
	display: inline-block;
	position: absolute;
	margin: 1rem;
	height: 3rem;
	right: 1rem;
}

.shot {
	display: inline-block;
	position: absolute;
	margin: 1rem;
	height: 3rem;
	right: 1rem;
}

#miniNav {
	width: 100%;
	background-color: black;
	position: relative;
}

.siteNav {
	display: inline-block;
	margin: 1rem;
}

.pageNav {
	margin-right: .75rem;
}

.pageCaption {
	display: inline-block;
	position: fixed;
	right: 1rem;
	top: 1rem;
	text-align: right;
	color: rgba(255, 255, 255, 0.54);
}

.miniNavButton {
		width: 3.5rem;
		height: 20rem;
		background-color: rgba(255,255,255,.34);
		display: inline-block;
}

.selectedMiniNav {
	background-color: rgba(255,255,255,.54);
}

.miniBodega {
	height: 4rem;
	background-color: blue;
}

.scrolled {
	height: 2rem;
}

.foota {
	background-color: #0a0a0a;
	color: rgba(255, 255, 255, .08);
	font-size: 2rem;
	font-variant: small-caps;
	padding: 4rem;
	text-align: center;
	padding: 50rem 0;
	vertical-align: middle;
	line-height: 2rem;
}

.oota {
	background-color: blue;
	font-size: 4rem;
	width: 100%;
}

.oota > a {
	font-variant: small-caps;
	color: rgba(255, 255, 255, .54);
}

.goElsewhere {
	font-variant: small-caps;
}

#miniNav > a.miniNavButtons.miniUserWork {
	margin: 0;
}



														/*end page mini nav styles*/


body {
 	position: relative;
 	height: 100%;
}

/*START footer */
footer {
	display: block;
	background-color: #ddd;
  width: 100%;
}

.footerTitle {
	width: 100%;
	text-align: center;
	color: rgba(255,255,255,.34);
	margin-bottom: 4rem;
	font-size: 1.5rem;
}

.externals {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: row;
	-webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
	-ms-flex-pack: distribute;
	justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: flex-start;
    flex-wrap: wrap;
    position: relative;
		padding: 4rem;
}

.externals>a {
	margin: 1.5rem;
	color: rgba(255,255,255,.87);
	text-transform: capitalize;
	font-size: 2.25rem;
}

/*end footer styles*/


/*userWork carousel*/

.carousel {
	width: 100%;
	background-color: rgba(0, 0, 0, .87);
	position: fixed;
	top: 0;
}

.superDark {
	background-color: rgba(0, 0, 0, 1);
}

.projectNav {
	background-color: rgba(255, 255, 255, .34);
	display: inline-block;
	height: 3rem;
	margin-left: .75rem;
	border: none;
	color: white;
	text-transform: uppercase;
	float: right;
	opacity: .54;
}

.projectNav:hover {
	opacity: .84;
}


.backward {
	margin-right: 0px;
}

.disabled {
	background-color: rgba(0, 0, 0, .34);
	color: white;
	opacity: .34;
}

#brainBody {
	background-color: white;
}

#brainBucket {
	transform: scale(0.25, 0.25);
}

.page {
	margin: 10rem;
}

.pageIntroArea {
	padding-bottom: 5rem;
}

.pageIntro {
	text-transform: uppercase;
	font-size: 4rem;
	margin-bottom: 1rem;
	width: 72%;
	font-weight: 700;
}

.watchButton {
	padding: 2rem;
	background-color: blue;
	border-radius: 1rem;
	font-size: 1rem;
	display: block;
	width: 16rem;
	color: white;
	text-align: center;
	margin: 2rem 2rem 2rem 0rem;
}

.description {
	font-size: 2rem;
	text-align: left;
	width: 55%;
	color: rgba(0, 0, 0, 0.87);
}

.linkButton {
	color: blue;
	display: block;
	font-size: 1rem;
	padding: 1rem 0rem;
}

.uxProject {
		margin-bottom: 4rem;
}

.projectTitle {
	font-size: 2rem;
	font-weight: 700;
	background-color: #eee;
	padding: 1rem;
	margin-bottom: 1.25rem;
}

.floorRug {
	height: 5rem;
	background-color: white;
	position: fixed;
	bottom: 0px;
}


}

body > section > img:nth-child(3) {
	margin-top: 10rem
}




/*photoWork styles*/
#photoBody {
	margin: 10rem;
	background-color: white;
}

.photoStream {
	margin-left: 36rem;
	margin-top: 8rem;
}

.uploadDate {
	float: right;
	padding-right: 3rem;
}

body > div > div:nth-child(1)

.photoStream > .photoBucket:nth-child(1) {
	margin-top: 100px;
}

.ooogPhotoCaption {
	max-width: 400px;
	text-align: left;
	padding: 1rem 3rem 3rem 0rem;
	display: none;
}

.ooogPhoto {
	width: 80%;
	display: inline-block;
	/*margin-bottom: 3rem;*/
}

.ooogPhoto:hover {
	 background-color: black;
}

.ooogPhotoBucket {
	margin-bottom: 2.5rem;
}

.resButton {
		margin: 2rem 2rem 2rem 0rem;
		display: block;
}


/*mobile ish sizes*/
/*@media (min-width: 480px){
	#machine {
		margin: 10rem auto 0;
		position: relative;
		top: 0;
		left: 0;
		border: none;
}
}*/

@media (max-width: 480px){
	#resume {
		position: relative;
		display: block;
		width: 25.5px;
		height: 33px;
	}

	.visualDescription {
		font-size: 2.5rem;
		font-weight: 300;
		margin-right: 2rem;
	}

	.page {
		margin: 4rem;
	}

	#machine {
		z-index: 2;
		width: 100%;
		height: 100%;
		background-color: #1a1a1a;
		/* vertical-align: middle; */
		margin-left: 0rem;
		/* border-top: .5rem solid rgba(0,0,0,.18); */
		box-shadow: 10px 10px 80px 10px rgba(0, 0, 0, 0.6);
	}

	.drank  {
		position: absolute;
		padding: .25rem;
		margin-bottom: 4rem;
		width: 8rem;
		text-align: center;
		text-decoration: none;
		font-variant: small-caps;
		color: rgba(0, 0, 0, 0.75);
		font-size: 1rem;
	}


	.resume {
		position: relative;
		display: block;
	  margin: auto;
		padding: 0;
	  width: 100%;
	}

	.oota {
		background-color: blue;
		font-size: 2rem;
		width: 100%;
	}


	.description {
		font-size: 1.75rem;
		text-align: left;
		width: 100%;
	}

	.visualTitle {
		margin-right: 4rem;
	}

.resButton {
		margin: 2rem 2rem 2rem 0rem;
		display: block;
}

	.bio {
		display: none;
	}

/*.projectImageCaption {
	margin: 2rem 4rem 10rem 0rem;
	width: 50%;
}*/

	.photoStream {
	margin-left: 0rem;

}

	.ooogPhoto {
		width: 100%;
	}

	html {
		font-size: 9px;
	}

	#floor{
		display: none;
	}

	.externals {
		display: block;
}
	.externals>a {
	margin-left: 0px;
	margin-bottom: 1rem;
	display: block;
	width: 100%;
	text-align: center;
}

	.projectNav {
		background-color: rgba(255, 255, 255, .34);
		display: inline-block;
		padding: 1rem;
		border: none;
		color: white;
		text-transform: uppercase;
		float: right;
		opacity: .54;
		display: inline-block;
		height: 3rem;
		padding:;
	}

	.subtitle {
		bottom: .5rem;
		left: .5rem;
		padding: 1rem;
		color: white;
		font-weight: 700;
		font-size: .75rem;

		display: none;
		background-color: 0, 0, 0, .04;

	}
}

@media (min-width: 1300px){

	#floor{
			z-index: 1;
    	border-bottom: 37rem solid black;
    	border-left: 30rem solid transparent;
    	border-right: 30rem solid transparent;
	}
}
